#banner{
	background-color:#042577;
	
	 height: 130px; 
      width: 100%; 
}

#fuente{
	font-family:"Helvetica";
	color:#fcfcfc;

}

#fcontenido{
	font-family:"Helvetica";
	color:#000000;
	padding:35px;
}

#contenido{
	border:2px solid #32a858;
	background-color:#a6f5c0;
	margin:0 auto;
	width:80%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}


#ole{
	margin-left: 47%;

}

#tamano{
	border:2px solid #32a858;
	background-color:#defce8;
	margin:0 auto;
	width:100%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#err{
	border:2px solid #d64747;
	background-color:#d64747;
	margin:0 auto;
	width:100%;
	font-weight: bold;

	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}

table {
  font-family: arial, sans-serif;
  margin: 0 auto;
}

.td, .th {
  text-align: left;
  padding: 10px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}

label{
	margin-left: 20px;
}

#contenido{

	border:2px solid #FFFFFF;
	background-color:#FFFFFF;
	margin:0 auto;
	width:70%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	position:relative;      
                -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
}


#venta{
	margin-left: 160px;
	font-size: 20px;
}
#vendedor{
	margin-left: 110px;
	font-size: 20px;
}

#cliente{
	margin-left: 160px;
	font-size: 20px;
}

#valor_cliente{
border-color: #DEDFDF;
margin-left: 10px;
outline: none;
}

#btnAgregarProducto{
	margin-left: 160px;
}

#total{
	font-size: 30px;
	margin-left: 530px;
}


#totalVenta{
	font-size: 25px;
  
}

#btnEliminarProducto{
	margin-left: 20px ;
}

#nombreVendedor{
font-size: 15px;
}
